Source: qcom-sensing-hub-prebuilts
Maintainer: Bhanu Vivek Matsa <quic_bmasta@quicinc.com>
Standards-Version: 4.6.2
Section: misc
Priority: optional
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)

Package: qcom-sensing-hub
Architecture: arm64
Multi-Arch: same
Section: libs
Priority: optional
Replaces: libsensinghub1
Breaks: libsensinghub1
Depends: ${misc:Depends}, libc6, libstdc++6
Description: Qualcomm Sensing-hub APIs Library
 Runtime libraries for the Qualcomm Sensing-hub framework.

Package: qcom-sensing-hub-dev
Architecture: arm64
Multi-Arch: same
Section: libdevel
Priority: optional
Replaces: libsensinghub-dev
Breaks: libsensinghub-dev
Depends: ${misc:Depends}, qcom-sensing-hub (= ${binary:Version})
Description: Qualcomm Sensing-hub APIs Library dev package
 Development headers and libraries for the Qualcomm Sensing-hub framework.
