Source: qcom-sensing-hub
Section: libs
Maintainer: Bhanu Vivek Matsa <quic_bmasta@quicinc.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 libglib2.0-dev,
 libnanopb-dev,
 libprotobuf-dev,
 libtool,
 nanopb,
 pkgconf,
 protobuf-compiler,
Standards-Version: 4.6.2
Homepage: https://github.com/qualcomm/sensinghub
Vcs-Browser: https://github.com/qualcomm-linux/pkg-sensinghub
Vcs-Git: https://github.com/qualcomm-linux/pkg-sensinghub.git

Package: libsensinghub1
Architecture: arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensing-hub APIs Library

Package: libsensinghub-dev
Architecture: arm64
Section: libdevel
Depends:
 libsensinghub1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensing-hub APIs Library dev package

Package: sensinghub-session-client
Architecture: arm64
Section: misc
Depends:
 libsensinghub1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensing-hub APIs session client
